<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.com" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.com/extras/spring-security">
    <head>
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>[[#{persona.formulario}]]</h1>
        
        <header th:replace="layout/plantilla :: header"></header>
        <br/>
        <a th:href="@{/}">Regresar</a>
        <br/><br/>
        <form th:action="@{/guardar}" method="post" th:object="${persona}">
            
            <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
            
            <label for="nombre">[[#{persona.nombre}]]:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">ERROR NOMBRE</span>
            
            <br/><br/>
            
            <label for="apellido">[[#{persona.apellido}]]:</label>
            <input type="text" name="apellido" th:field="*{apellido}"/>
            <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">ERROR apellido</span>
            
            <br/><br/>
            
            <label for="email">[[#{persona.email}]]:</label>
            <input type="text" name="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">ERROR email</span>
            
            <br/><br/>
            
            <label for="telefono">[[#{persona.telefono}]]:</label>
            <input type="tel" name="telefono" th:field="*{telefono}"/>
            
            <br/><br/>
            
            <input type="submit" name="guardar" th:value="#{accion.guardar}"/>
            
        </form>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
